/*.App { 
}*/


.Navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 70px;
  background-color: #063d80;
}



.Nav-Link {
  margin: 0 0.75rem;
  padding: .8rem 1rem; 
  color: #063d80;
  font-size: 17px;

}
.Nav-Link > span {
  margin-left: 0.75rem;
  color: #838a8a;
  
}
.Nav-Link > span:hover {
  color: #063d80;
  
}
.Link-active {
  background-color: #ebedf7;
  border-radius: 5px;
  color: #063d80;
}
.Link-active > span{
  color: #004aa5;
}


.sidebar {
  position: sticky;
  z-index: 80;
  top: 70px;
  background-color: white;
  padding: 0 0;
  border-color: black;
   /* Behind the navbar */
   /* Height of navbar */
}
.sidebar-collapse {
  padding: 1.5rem 0;
  border-color: #063d80;
  
}
 .main-section {
  background-color: #ebedf7;
  
}
.group-students {
  padding-left: 0;
  padding-right: 0;
}
.inputs-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem .5rem;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  width: 100%;
  
}
.inputs-row {
  width: 70%;
  gap: .5rem;
}
.inputs-button {
  width: 100%;
  height: 3.25rem;
  border-radius: 7px;
}

@media (min-width: 767.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 70px 0 0;
    
  }
  .sidebar-collapse {
    height: calc(100vh - 70px);
  }
  .main-section {
    position: relative;
    height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .group-students {
    padding-left: 1.5rem;
    padding-right: 0;
  }
  .groups-container {
    
  }
  .inputs-row {
    width: 90%;
    gap: .5rem;
  }
  
}

.dash-row {
  height: 12rem;
  width:75%;
  color: #063d80;
}

.promo-button {
  font-size:x-large;
  font-weight: bold;
  background-color: #c4d3f5;
  color: #063d80;
}





.button-primary {
  background-color: #063d80;
  color: white;
  border-color: #063d80;
}
.button-primary:hover {
  background-color: #004aa5;
  color: #ebedf7;
}
.button-secondary {
  background-color: #ebedf7;
  color: #063d80;
  border-color: #063d80;
}
.button-secondary:hover {
  background-color: #004aa5;
  color: white;
}

.tables {
  overflow-x: auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 1.5rem;
  border-color: #063d80;
  position: relative;
}

.action-button {
  padding: 1rem 1rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
  position: sticky;
  left: 0px;
  
}
.action-button .submit{
  background-color: #063d80;
  color: white;
  border-color: #063d80;
}
.action-button .edit{
  background-color: #ebedf7;
  color: #063d80;
  border-color: #063d80;
}
.action-button .submit:hover {
  background-color: #004aa5;
  color: #ebedf7;
}
.action-button .edit:hover {
  background-color: #004aa5;
  color: white;
}


.groups-section {
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: .3rem;
}

.groups-section-header {
  background-color: #063d80;
  color: #ebedf7;
  margin: -1rem -1rem 1rem;
  padding: 1rem;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.groups-section-button {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  background-color: #ebedf7;
  border-color: #063d80;
  color: #063d80;
}
.groups-section-button:hover {
  background-color: #ebedf74d;
  border-color: #063d80;
  color: #063d80;
}
.groups-section-button:focus {
  background-color: #ebedf7;
  border-color: #063d80;
  color: #063d80;
}
.groups-section-list-group {
  height: 80%;
  overflow-y: auto;
  
}
.trash-icon {
  margin-left: auto;
  font-size: x-large;
}
.trash-icon:hover {
 color: red;
}




/*
.student-table {
  
  width: 1370px;
  overflow-x: auto;
  display: block;
}

.student-table thead, tbody {
  display: block;
}
.student-table tbody {
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 300px;
}
.student-table td, th {
  
  
  max-width: 135px;
  min-width: 135px;
  
}





.promotion-table {
  
  width: 695px;
  overflow-x: scroll;
  display: block;
}

.promotion-table thead, tbody {
  display: block;
}
.promotion-table tbody {
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 250px;
}
.promotion-table td, th {
  
  max-width: 135px;
  min-width: 135px;
  
}




.course-table {
  
  width: 965px;
  overflow-x: scroll;
  display: block;
}

.course-table thead, tbody {
  display: block;
}
.course-table tbody {
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 250px;
}
.course-table td, th {
  
  max-width: 135px;
  min-width: 135px;
  
}







.evaluation-table {
  margin-top: 30px;
  width: 720px;
  overflow-x: scroll;
  display: block;
}

.evaluation-table thead, tbody {
  display: block;
}
.evaluation-table tbody {
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 350px;
}
.evaluation-table > thead > tr > th {
  max-width: 175px;
  min-width: 175px;
}
.evaluation-table > tbody > tr > td {
  max-width: 175px;
  min-width: 175px;
}






.deliberation-table {
  margin-top: 30px;
  width: 1200px;
  overflow-x: scroll;
  display: block;
}
.deliberation-table thead, tbody {
  display: block;
}
.deliberation-table tbody {
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 350px;
}

.deliberation-table > thead > tr > th {
  max-width: 175px;
  min-width: 175px;
}
.deliberation-table > tbody > tr > td {
  max-width: 175px;
  min-width: 175px;
}

#delib-courses {
  max-width: 70px;
  min-width: 70px;
}*/



.login {
  background-color: #063d80;
}
.login-col{
  background-color: white;
}







